* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}


:root {
    --main-light-color: #C4B2BC;
    --main-dark-color: #332E3C;
    --secondary-light-color: #EDE9EC;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--main-light-color);
    display: flex;
    justify-content: center;
}

.wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--main-dark-color);
}

.list--container {
    background-color: var(--secondary-light-color);
    height: 400px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list--input {
    border: none;
    background-color: var(--secondary-light-color);
    border-bottom: 1px solid var(--main-dark-color);
    margin: 10px;
    width: 80%;
    margin-top: auto;

}

.list--button {
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 30px;
    background-color: var(--main-dark-color);
    border: none;
    border-radius: 5px;
    color: var(--main-light-color);
    font-weight: bold;
}

.list--input:focus {
    outline: none;
}

.list {
    width: 85%;
    padding: 25px 5px;
    list-style: none;
    font-size: 0.8em;
}

.list li {
    width: 100%;
    color: var(--main-dark-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    
}

.task {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.task--checkbox:checked+.task {
    text-decoration: line-through;
}

.task--checkbox {
    margin-top: 3px;
}

.task--delete {
    margin-top: 3px;
    margin-left: auto;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 7px;
    border: none;
    background-color: var(--main-dark-color);
    border-radius: 3px;
    color: var(--secondary-light-color);
}